@page "/"
@* Header *@
@using Components.Header
@* Header *@
<header class="header">
    <div class="container d-flex justify-content-between">
        <div class="hd-left">
            <div class="logo">
                <img src="/Assets/Images/logoNenTrang.jpg" width="120px" height="120px" alt="logo_nen_xanh" />
            </div>
        </div>
        <div class="hd-right py-4">
            <div class="menu">
                <ul class="">
                    <li>
                        <a class="" href="">Home</a>
                    </li>
                    <li>
                        <a class="" href="">About us</a>
                    </li>
                    <li class="has-dropdown">
                        <div class="d-flex align-items-center">
                            <a class="" href="">Product</a>
                            <i class="fa-solid fa-chevron-down ms-2"></i>
                        </div>
                        <ul class="sub-menu nav-dropdown">
                            <li class=""><a href=""></a>Product 1</li>
                            <li class=""><a href=""></a>Product 2</li>
                            <li class=""><a href=""></a>Product 3</li>
                        </ul>
                    </li>
                    <li>
                        <a class="" href="">News</a>
                    </li>
                    <li>
                        <a class="" href="">Contact</a>
                    </li>
                    <li>
                        <button class="btn btn-danger">
                            Get quote +84 868 979 188
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>Footer</h3>
                <p>Footer content</p>
            </div>
            <div class="col-md-4">
                <h3>Footer</h3>
                <p>Footer content</p>
            </div>
            <div class="col-md-4">
                <h3>Footer</h3>
                <p>Footer content</p>
            </div>
        </div>
    </div>
</footer>
@* Carousel *@
<div class="container">

</div>
