@page "/"
@* Header *@
@using Components.Header
@* Header *@
<header>
    <div class="container">
        <div class="hd-left">
            <div class="logo">
                <img src="../../wwwroot/Assets/Images/" alt="">
            </div>
        </div>
        <div class="hd-right">

        </div>
    </div>
</header>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>Footer</h3>
                <p>Footer content</p>
            </div>
            <div class="col-md-4">
                <h3>Footer</h3>
                <p>Footer content</p>
            </div>
            <div class="col-md-4">
                <h3>Footer</h3>
                <p>Footer content</p>
            </div>
        </div>
    </div>
</footer>
@* Carousel *@
<div class="container">

</div>
