.custom-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin: 0 auto;
    padding: 8px 16px;
    font-size: 1.125rem;
    font-weight: 600;
    color: #000;
    background-color: #f9fafb;
    border: 2px solid #f9fafb;
    border-radius: 9999px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  }
  
  .custom-button::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    background-color: #10b981;
    border-radius: 9999px;
    transition:  0.7s ease-in-out;
    z-index: -1;
  }
  
  .custom-button:hover::before {
    left: 0;
    transform: scale(1.5);
  }
  
  .custom-button:hover {
    color: #f9fafb;
    background-color: #10b981;
  }
  
  .custom-icon {
    width: 32px;
    height: 32px;
    padding: 6px;
    border: 1px solid #374151;
    border-radius: 50%;
    transform: rotate(45deg);
    transition: all 0.3s ease-in-out;
  }
  
  .custom-button:hover .custom-icon {
    background-color: #f9fafb;
    transform: rotate(90deg);
    border: none;
  }
  
  .icon-path {
    fill: #1f2937;
    transition: fill 0.3s ease-in-out;
  }
  
  .custom-button:hover .icon-path {
    fill: #1f2937;
  }

/* Css Header */
.header{
    .hd-container{
        padding: 0px 100px 0px 150px;

        .hd-left{
            .logo{
                img{

                }
                h2{
                    color: #73ad17;
                }
            }
        }
        .hd-right{
            display: flex;
            align-items: center;
            .menu{
                .nav{
                    display: flex;
                    list-style: none;
                    justify-content: space-around;
                    align-items: center;
                    /* gap: 40px; */
                    .nav-item{
                        margin-right: 40px;
                        position: relative;
                        display: inline-block;
                        transition: all 0.2s ease-in-out;
                        a{
                            color: #73ad17;
                            font-family: "Rubik", sans-serif;
                            font-weight: 400;
                            font-size: 24px;
                            text-decoration: none;
                        }
                        &:hover{
                            a{
                                font-weight: 600;
                            }
                            &::after{
                                transform: scaleX(1);
                            }
                        }
                        &::after{
                            content: "";
                            position: absolute;
                            left: 0;
                            bottom: -2px;
                            width: 100%;
                            height: 2px;
                            background-color: #6ba82c;
                            transform: scaleX(0);
                            transition: transform 0.3s ease-in-out;
                        }
                        i{
                            color: #73ad17;
                            font-weight: 600;
                        }
                    
                        &:last-child{
                            margin-right: 0;
                        }
                    }
                    .active{
                        position: relative;
                        display: inline-block;
                        margin-right: 40px;
                        a{
                            color: #73ad17;
                            font-family: "Rubik", sans-serif;
                            font-weight: 600;
                            font-size: 24px;
                            text-decoration: none;
                        }
                        &::after{
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: 3px;
                            background-color: #73ad17;
                            bottom: 0;
                            left: 0;
                        }
                    }
                    .has-dropdown{
                        position: relative;
                        display: inline-block;
                        .sub-menu{
                            display: none;
                            position: absolute;
                            background-color: #f9f9f9;
                            min-width: 260px;
                            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                            z-index: 1;
                            margin: 0px;
                            padding: 0px;
                            .sub-menu-item{
                                margin-right: 0px;
                                list-style: none;
                                a{
                                    font-weight: 500;
                                    font-size: 20px;
                                    padding: 15px 20px;
                                    display: block;
                        
                                    color: black;
                                    &:hover{
                                        background-color: #f1f1f1;
                                    }
                                    &:last-child{
                                        /* margin-bottom: 10px; */
                                    }
                                }
                    
                                i{
                                    color: #73ad17;
                                }
                                
                            }
                        }
                        &:hover{
                            .sub-menu{
                                display: block;
                            }
                        }
                    }
                    /* li{
                        .custom-button {
                            display: flex;
                            align-items: center;
                            gap: 8px;
                            padding: 10px 20px;
                            font-size: 18px;
                            font-weight: bold;
                            color: #333;
                            background-color: #f8f9fa;
                            border: 2px solid #f8f9fa;
                            border-radius: 50px;
                            position: relative;
                            overflow: hidden;
                            cursor: pointer;
                            transition: color 0.3s ease, border 0.3s ease;
                            &::before{
                                content: "";
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                background-color: #10b981;
                                border-radius: 50%;
                                transform: scale(0);
                                transition: transform 0.7s ease;
                                z-index: 0;
                            }
                            &:hover{
                                color: white;
                                border-color: #10b981;
                                &::before{
                                    transform: scale(2);
                                }
                                svg{
                                    transform: rotate(90deg);
                                    fill: white;
                                }
                            }
                            svg{
                                width: 30px;
                                height: 30px;
                                transition: transform 0.3s ease;
                                position: relative;
                                z-index: 1;
                                fill: #333;
                            }
                        }
                    } */
                }
            }
        }
    }
}
/* Carousel */
.carousel-c{
    .carousel{

    }
    .carousel-control-prev{
        .icon-chervon-left{
            color:#73ad17;
            width: 50px;
            height: 50px;
            padding: 10px;
            cursor: pointer;
            border: 3px solid #73ad17;
            border-radius: 50%;
            font-size: 20px;
            font-weight: 800;
        }
    }
    .carousel-control-next{
        .icon-chervon-right{
            color: #73ad17;
            width: 50px;
            height: 50px;
            padding: 10px;
            cursor: pointer;
            border: 3px solid #73ad17;
            border-radius: 50%;
            font-size: 20px;
            font-weight: 800;
        }
    }
}
/* Footer */
.footer{
    .ft-container{
        padding: 0px 150px 0px 150px;
        .row{
            .fcol-1{
                .logo{
                    img{

                    }
                    h2{
                        color: #73ad17;
                    }
                }
            }
            
        }
    }
}