@page "/"
@* Header *@
@using Components.Header
@* Header *@
<header class="header">
    <div class="hd-container  d-flex justify-content-between">
        <div class="hd-left py-4">
            <div class="logo d-flex align-items-center">
                <img src="/Assets/Images/logoNenTrang.jpg" width="100px" height="100px" alt="logo_nen_xanh" />
                <h2 class="dancing-script-400">Hafamex Fruit</h2>
            </div>
        </div>
        <div class="hd-right py-4">
            <div class="menu">
                <ul class="">
                    <li class="active">
                        <a class="" href="">Home</a>
                    </li>
                    <li>
                        <a class="" href="">About us</a>
                    </li>
                    <li class="has-dropdown">
                        <div class="d-flex align-items-center">
                            <a class="" href="">Product</a>
                            <i class="fa-solid fa-chevron-down ms-2"></i>
                        </div>
                        <ul class="sub-menu">
                            <li class="sub-menu-item"><a href="">Fresh Fruit</a></li>
                            <li class="sub-menu-item"><a href="">Fresh Vegetable</a></li>
                            <li class="sub-menu-item"><a href="">Premium Fresh Fruits</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="" href="">News</a>
                    </li>
                    <li>
                        <a class="" href="">Contact</a>
                    </li>
                    <li>
                        <button class="btn btn-danger py-2">
                            Get quote +84 868 979 188
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
@* Carousel auto-slides *@
<section class="carousel">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/Assets/Images/harborBackground.jpg" class="d-block w-100" width="" height="900px" alt="...">
            </div>
            <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>Footer</h3>
                <p>Footer content</p>
            </div>
            <div class="col-md-4">
                <h3>Footer</h3>
                <p>Footer content</p>
            </div>
            <div class="col-md-4">
                <h3>Footer</h3>
                <p>Footer content</p>
            </div>
        </div>
    </div>
</footer>
@* Carousel *@
<div class="container">

</div>
