@page "/"
@* Header *@
@using Components.Header
@* Header *@
<header class="header">
    <div class="container d-flex justify-content-between">
        <div class="hd-left">
            <div class="logo">
                <img src="/Assets/Images/logoNenTrang.jpg" width="120px" height="120px" alt="logo_nen_xanh" />
            </div>
        </div>
        <div class="hd-right py-4">
            <div class="menu">
                <ul class="">
                    <li>
                        <a class="roboto-500" href="">Home</a>
                    </li>
                    <li>
                        <a class="" href="">About us</a>
                    </li>
                    <li>
                        <div class="dropdown">
                            <button class="dropbtn">Product</button>
                            <div class="dropdown-content">
                                <a href="#">Product 1</a>
                                <a href="#">Link 2</a>
                                <a href="#">Link 3</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a class="" href="">News</a>
                    </li>
                    <li>
                        <a class="" href="">Contact</a>
                    </li>
                    <li>
                        <button class="btn btn-danger">
                            086 8979188
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>Footer</h3>
                <p>Footer content</p>
            </div>
            <div class="col-md-4">
                <h3>Footer</h3>
                <p>Footer content</p>
            </div>
            <div class="col-md-4">
                <h3>Footer</h3>
                <p>Footer content</p>
            </div>
        </div>
    </div>
</footer>
@* Carousel *@
<div class="container">

</div>
