 <!-- #region -->
<section class="container pt-5" style="margin-top: 100px;min-height: 100vh;" id="first-section">
    <div class="d-flex align-items-center justify-content-between">
        <img src="//theme.hstatic.net/200000342937/1001030312/14/en_hienthipagess1image.png?v=315"
            class="w-155 img-fluid animate__animated animate__backInLeft" alt="Ant Farm">
        <div class="content lh-lg w-50 animate__animated animate__backInRight">
            <h1 class="fw-bold">From great passion</h1>
            <p>
                Established on February 3, 2010, Ant Farm has 13 years experience in the field of agricultural
                products import and export, and our fruits and vegetables’ brand has been present in many market
                such as: Southeast Asia, Middle East, Europe, even tough market like USA, Canada, Australia ...
            </p>
            <p>
                In addition, Ant Farm has built a warehouse system with large capacity in many provinces, which
                have strengths in agricultural products, such as Binh Thuan, Lam Dong, Long An, Ben Tre and Tien
                Giang Province. With a wide warehouse system, the import and export process becomes more
                convenient, which besides minimize considerable risks during storage and transportation.
            </p>
            <p>
                Thanks to the advantage of standard warehouse, Ant Farm has not only developed export channel,
                but also boosted investment in domestic market through the import and distribution of many famous
                items such as: Korean dried persimmon, Malaysian Musang King durian, Australian dried grapes,
                Egyptian oranges…
            </p>
        </div>
    </div>
    <button id="scrollBtn" class="animate__animated animate__backInDown">↓</button>
</section>

<section class="container d-flex flex-column align-items-center justify-content-center text-center"
    style="min-height: 100vh;" id="next-section">
    <h2 class="nature fw-bold">BRING NATURE BACK TO MODERN LIFE</h2>
    <div class="row mt-4 w-100">
        <div class="col-md-4">
            <div class="information-area">
                <img src="//theme.hstatic.net/200000342937/1001030312/14/en_hienthipagessinfothongtin1.png?v=315"
                    alt="">
                <h3>Our Mission</h3>
                <p class="text-center text-muted px-3">To provide quality and safe agricultural products to domestic and
                    foreign consumers and a commitment
                    to clean - fresh - nutritious standards with competitive prices.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="information-area">
                <img src="//theme.hstatic.net/200000342937/1001030312/14/en_hienthipagessinfothongtin2.png?v=315"
                    alt="">
                <h3>Our Vision</h3>
                <p class="text-center text-muted px-3">To become one of the leading import and export enterprises of
                    clean agricultural products in Vietnam,
                    conquer fastidious international markets such as Europe, Australia, America, etc.​</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="information-area">
                <img src="//theme.hstatic.net/200000342937/1001030312/14/en_hienthipagessinfothongtin3.png?v=315"
                    alt="">
                <h3>Our Core values</h3>
                <p class="text-center text-muted px-3">Focus on customer-centric and always serve for the benefits of
                    the community. Uphold the principle of
                    respect, coordination and sharing to cooperate and develop with partners.</p>
            </div>
        </div>
    </div>
</section>
<section class="container card shadow-lg border-0 p-3" id="third-section">
    <h2 class="fw-bold text-center mt-5">TAKE GREAT CARE FOR CUSTOMERS</h2>
    <div class="row mt-4">
        <div class="col-3">
            <div class="members-item d-flex flex-column justify-content-center align-items-center">
                <img src="//theme.hstatic.net/200000342937/1001030312/14/en_v2_hienthipagessinfothongtin1.png?v=315"
                    class="img-fluid rounded" alt="">
                <h4 class="mt-3">Handling</h4>
                <p class="text-center text-muted px-3">Clean products after harvesting with modern technology lines.
                </p>
            </div>
        </div>
        <div class="col-3">
            <div class="members-item d-flex flex-column justify-content-center align-items-center">
                <img src="//theme.hstatic.net/200000342937/1001030312/14/en_v2_hienthipagessinfothongtin2.png?v=315"
                    class="img-fluid rounded" alt="">
                <h4 class="mt-3">Storage</h4>
                <p class="text-center text-muted px-3">Store products in cold storage at suitable temperature and
                    humidity conditions.</p>
            </div>
        </div>
        <div class="col-3">
            <div class="members-item d-flex flex-column justify-content-center align-items-center">
                <img src="//theme.hstatic.net/200000342937/1001030312/14/en_v2_hienthipagessinfothongtin3.png?v=315"
                    class="img-fluid rounded" alt="">
                <h4 class="mt-3">Packing</h4>
                <p class="text-center text-muted px-3">Packed according to export standards, ensuring the freshness
                    to
                    customers.</p>
            </div>
        </div>
        <div class="col-3">
            <div class="members-item d-flex flex-column justify-content-center align-items-center">
                <img src="//theme.hstatic.net/200000342937/1001030312/14/en_v2_hienthipagessinfothongtin4.png?v=315"
                    class="img-fluid rounded" alt="">
                <h4 class="mt-3">Transport</h4>
                <p class="text-center text-muted px-3">Truck and container system ready to meet the transports needs
                    every day.</p>
            </div>
        </div>
    </div>
</section>

<section class="container" style="margin-top:50px;min-height: 100vh;" id="fourth-section">
    <div class="about-group d-flex flex-column justify-content-center align-items-center">
        <h2>PRESTIGE - PROFESSIONAL - QUALITY</h2>
        <p>Quality is more than making a good product.</p>
    </div>
    <div class="wrapper-about-services">
        <div class="row g-4">
            <div class="col-md-4 col-sm-6">
                <div class="card shadow-sm text-center p-4 h-100">
                    <div class="d-flex justify-content-center">
                        <img src="https://cdn-icons-png.flaticon.com/128/747/747376.png" width="50" alt="Staff">
                    </div>
                    <h5 class="mt-3 fw-bold">STAFF</h5>
                    <p>Our staff is professional, enthusiastic to advise customers.</p>
                    <button class="card-button">More info</button>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card shadow-sm text-center p-4 h-100">
                    <div class="d-flex justify-content-center">
                        <img src="https://cdn-icons-png.flaticon.com/128/3841/3841979.png" width="50" alt="Experience">
                    </div>
                    <h5 class="mt-3 fw-bold">EXPERIENCE</h5>
                    <p>We have 13 years of export experience in Southeast Asia, Middle East, China, America, Canada.</p>
                    <button class="card-button">More info</button>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card shadow-sm text-center p-4 h-100">
                    <div class="d-flex justify-content-center">
                        <img src="https://cdn-icons-png.flaticon.com/128/1041/1041916.png" width="50"
                            alt="Packing Factory">
                    </div>
                    <h5 class="mt-3 fw-bold">PACKING FACTORY</h5>
                    <p>Factories and branches located in many regions both at home.</p>
                    <button class="card-button">More info</button>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card shadow-sm text-center p-4 h-100">
                    <div class="d-flex justify-content-center">
                        <img src="https://cdn-icons-png.flaticon.com/128/3388/3388777.png" width="50" alt="Products">
                    </div>
                    <h5 class="mt-3 fw-bold">PRODUCTS</h5>
                    <p>High quality agricultural products, international standards.</p>
                    <button class="card-button">More info</button>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card shadow-sm text-center p-4 h-100">
                    <div class="d-flex justify-content-center">
                        <img src="https://cdn-icons-png.flaticon.com/128/2307/2307831.png" width="50" alt="Price">
                    </div>
                    <h5 class="mt-3 fw-bold">PRICE</h5>
                    <p>Competitive price compared to traders. Good price policy according to quantity.</p>
                    <button class="card-button">More info</button>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card shadow-sm text-center p-4 h-100">
                    <div class="d-flex justify-content-center">
                        <img src="https://cdn-icons-png.flaticon.com/128/1046/1046873.png" width="50" alt="Delivery">
                    </div>
                    <h5 class="mt-3 fw-bold">DELIVERY</h5>
                    <p>Fast, safe, ensure the freshness of the product.</p>
                    <button class="card-button">More info</button>
                </div>
            </div>
        </div>
    </div>
</section>

@* Footer *@
<footer class="footer">
    <div class="ft-container">
        <div class="row ">
            <div class="col-md-3 fcol-1">
                <div class="logo d-flex align-items-center">
                    <img src="/Assets/Images/logoNenTrang.jpg" width="100px" height="100px" alt="logo_nen_xanh" />
                    <h2 class="dancing-script-600">Hafamex Fruit</h2>
                </div>
                <p class="dancing-script-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse vitae
                    tempora quidem rem praesentium
                    excepturi dolorem neque, iste reiciendis minima!</p>
                <div class="social-icon">
                    <ul class="nav-social-icon">
                        <li class="nav-item-icon">
                            <a href="">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="nav-item-icon">
                            <a href="">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </li>
                        <li class="nav-item-icon">
                            <a href="">
                                <i class="fa-brands fa-youtube"></i>
                            </a>
                        </li>
                        <li class="nav-item-icon">
                            <a href="">
                                <i class="fa-brands fa-x-twitter"></i>
                            </a>
                        </li>
                        <li class="nav-item-icon">
                            <a href="">
                                <i class="fa-brands fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 fcol-2">
                <h3>Quick link</h3>
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Products</a></li>
                    <li><a href="">News</a></li>
                    <li><a href="">Contact</a></li>
                    <li><a href=""></a></li>
                </ul>
            </div>
            <div class="col-md-3 fcol-3">
                <h3>Main products</h3>
                <ul>
                    <li><a href="">Dragon fruit</a></li>
                    <li><a href="">Mango</a></li>
                    <li><a href="">Coconut</a></li>
                    <li><a href="">Pomelo</a></li>
                    <li><a href="">Durian</a></li>
                    <li><a href="">Other products</a></li>
                </ul>
            </div>
            <div class="col-md-3 fcol-4">
                <h3>Contact</h3>
                <div class="address ">
                    <i class="icon fa-solid fa-location-dot me-1"></i>
                    <span class="text">Blacos Building, Phan Van Tri Str., Ward 11, District Binh Thanh, Ho Chi Minh
                        City, Vietnam.</span>
                </div>
                <div class="email">
                    <i class="icon fa-solid fa-envelope me-1"></i>
                    <span class="text">
                        info@hafamex.com
                    </span>
                </div>
                <div class="phone">
                    <i class="icon fa-solid fa-phone me-1"></i>
                    <span class="text">
                        (+84) 898 678 356
                    </span>
                </div>
                <div class="get-info">
                    <input type="email" name="email" placeholder="info@gmail.com" id="getEmailInfo">
                    <button>Send</button>
                </div>
            </div>
        </div>
    </div>
</footer>


<script>
    function addScrollAnimation(selector, animation) {
        const elements = document.querySelectorAll(selector);

        const observer = new IntersectionObserver((entries) => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    entry.target.classList.remove("animate__animated", animation);
                    setTimeout(() => {
                        entry.target.classList.add("animate__animated", animation);
                    }, 10);
                }
            });
        }, { threshold: 0.3 });

        elements.forEach(element => observer.observe(element));
    }

    document.addEventListener("DOMContentLoaded", function () {
        addScrollAnimation(".nature", "animate__backInDown");
        addScrollAnimation(".information-area", "animate__zoomIn");
        addScrollAnimation(".card", "animate__rollIn");
        addScrollAnimation(".about-group", "animate__rollIn");
    });

</script>
